.font {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
#createMem {
  margin-top: 15%;
}

#image {
  margin-top: 0;
  margin-left: 0;
}

#imgcard {
  padding-top: 15px;
  padding-bottom: 50px;
}

#navbar-title {
  color: #383838;
  padding-left: 0px;
  text-shadow: 1px 2px 4px white;
}

#navbar-item {
  color: #383838;
  /* text-shadow: 1px 2px 4px white;*/
}

#navbar-item2 {
  color: #383838;
  /* text-shadow: 1px 2px 4px white;*/
  margin-right: 10px;
}

#drp {
  background-color: rgba(255, 255, 255, 0.5);
}

#welcome {
  color: #383838;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
#password {
  margin-top: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#cp {
  margin-top: 20px;
}
#navbar {
  background-color: transparent;
}

#hr {
  margin-bottom: 0px;
  margin-top: 10px;
}

#navbar-item:hover {
  color: #006400;
  background-color: transparent;
}

#navbar-item:focus {
  color: #006400;
  border-bottom: 3px solid #383838;
  padding-bottom: 4px;
}

.App-link {
  color: #09d3ac;
}

.card-footer {
  padding: 3px;
}

.btn-group {
  margin: 0 auto;
}

#btn-group {
  margin-top: 20px;
  margin-left: 38%;
}

#btn-group2 {
  margin-top: 20px;
  margin-left: 30%;
}

#test {
  flex-direction: column;
}

.img {
  margin: 0 auto;
}

.button {
  margin: 3px;
}

.p {
  margin-bottom: 3px;
}

#hero {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

#hero2 {
  padding-top: 8%;
}

#login-btn {
  margin-top: 12px;
  margin-right: 20px;
  color: #282828;
}

#login-btn:hover {
  background-color: white;
}

#subs {
  margin-bottom: 8px;
  color: #383838 !important;
  text-shadow: none !important;
}

#txt {
  margin-bottom: 0;
  text-transform: uppercase;
  word-wrap: break-word;
}

#img {
  margin-left: 16%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 0;
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 50% 50%;
}
#title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#card-content {
}

#sbtitle {
  text-transform: uppercase;
}

.label {
  text-transform: uppercase;
}
#logo {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

.hed {
  margin-top: 25%;
}

.hed2 {
  margin-top: 8%;
}

.hed3 {
  margin-top: 49%;
}

.hed4 {
  margin-top: 45%;
}

.hed5 {
  margin-top: 14%;
}

#lbl {
  width: 48%;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 3%;
}

#hero {
  text-shadow: 1px 2px 4px black;
  font-family: "Josefin Sans", sans-serif;
}

#lbl2 {
  width: 48%;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 3%;
  margin-top: 4%;
}

#sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#holes {
  margin-bottom: 0;
}

#time {
  margin-bottom: 0;
}

#sub {
  margin-top: 10%;
  text-transform: uppercase;
}

#sub2 {
  margin-top: 13%;
  margin-left: 0;
  text-transform: uppercase;
}

#card1 {
  margin-top: 25%;
}

#card2 {
  margin-top: 8%;
}

.navbar-item {
  padding-left: 0;
}

#card-content {
  padding: 20px;
}

#inputPlayers {
  width: 40%;
  display: inline-block;
}
#input-login {
  margin: 0 auto;
}

#inputPlayers2 {
  width: 40%;
  margin-top: 10px;
  display: inline-block;
}

#addbtn {
  padding-top: 10px;
  text-align: center;
}

#bookingcard {
  margin: 0 auto;
}

#tag {
  margin-top: 5px;
  margin-left: 5px;
}

#emel {
  width: auto !important;
}

#crd {
  padding-top: 0;
}
#b {
  display: inline-block;
}
#crd2 {
  padding-bottom: 10px;
}

#card3 {
  margin-top: 7%;
}
